<nb-card>
  <nb-card-header>
 <h3 class="box-title"> Settings</h3>
    </nb-card-header>
  <nb-card-body>
   

   
    <form  #SettingForm="ngForm">
            <div class="row">
                    <div class="col-md-12">
        <div class="box">   
            <div class="box-header with-border">
               <div [hidden]="hiddensmtp" class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> <a href="#" class="alert-link"> Change a few things up</a> and try submitting again.

                   </div>
                <div class="row">
                   
                    <div class="col-md-6">
                        <span class="pull-left"><h4 class="box-title">SMTP &nbsp; &nbsp;<label [hidden]="hidden"><i   style="color: green" class="fa fa-check" aria-hidden="true"></i></label></h4></span>
                    </div>  <!-- /.col-md-6 -->
                    <div class="col-md-6"> 
                        <span class="pull-right"><a href=""  data-toggle="modal" data-target="#Modal" style="margin-left: 70%"><i class="ion-checkmark-round"></i> Verify</a> </span>
                    </div> <!-- /.col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.box-header with-border -->
            
            <div class="box-body">
            
                <div class="row" style="margin-bottom: 5px" >
                      <div class="col-md-3">  
                        <label for="name">Server Name <span style="color: red">(*)</span> </label>
                      </div>
                      <div class="col-md-8">
                        <input type="text"  class="form-control"  id="ServerName " name="Server_name" #Server_Name="ngModel" [(ngModel)]="model.Server_name" placeholder="exemple : smtp.gmail.com" required>  
                        <div *ngIf="Server_Name.errors && (Server_Name.dirty || Server_Name.touched)" class="alert alert-danger">
                    <div [hidden]="!Server_Name.errors.required">
                     Server name is required!
                    </div></div>

                      </div>
                </div> <!-- /.row1 -->
              
                <div class="row"  style="margin-bottom: 5px">
                    <div class="col-md-3" >  
                        <label for="name">Port <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-8">
                        <input type="text"  class="form-control" id="Port " name="Port" #Port="ngModel" [(ngModel)]="model.Port" placeholder="exemple : 465" required>  
                        <div *ngIf="Port.errors && (Port.dirty || Port.touched)" class="alert alert-danger">
                    <div [hidden]="!Port.errors.required">
                     Port is required!
                    </div></div>
                    </div>
                </div><!-- /.row2 -->

                <div class="row"  style="margin-bottom: 5px">
                    <div class="col-md-3" >  
                    <label for="name">User Account <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-8">
                    <input type="email"  class="form-control"id="UserAccount" name="User_account" #UserAccount="ngModel" [(ngModel)]="model.User_account"  placeholder="exemple : user@gmail.com" required>  
                    <div *ngIf="UserAccount.errors && (UserAccount.dirty || UserAccount.touched)" class="alert alert-danger">
                    <div [hidden]="!UserAccount.errors.required">
                     User account is required!
                    </div></div>
                    </div>
              </div><!-- /.row3 -->

              <div class="row"  style="margin-bottom: 5px">
                  <div class="col-md-3">  
                    <label for="name">Password <span style="color: red">(*)</span></label>
                  </div>
                  <div class="col-md-8">
                  <input type="password"  class="form-control" id="Password" name="Password" #Password="ngModel" [(ngModel)]="model.Password" required >
                    
                  <div *ngIf="Password.errors && (Password.dirty || Password.touched)" class="alert alert-danger">
                    <div [hidden]="!Password.errors.required">
                     Password is required!
                    </div></div>
                  </div>
            </div><!-- /.row4 -->
            </div>
            </div> <!-- ./box-body --> 
        </div>   <!-- ./box -->

</div>
<br>
<div class="row">
        <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                 <div [hidden]="hiddenADF" class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> <a href="#" class="alert-link"> Change a few things up</a> and try submitting again.

                   </div>
                <div class="row"  style="margin-bottom: 5px">
                    <div class="col-md-6"> <span class="pull-left"><h4 class="box-title">Admin Directory &nbsp; &nbsp; <label [hidden]="hiddenAD"><i   style="color: green" class="fa fa-check" aria-hidden="true"></i></label></h4></span>
                    </div> <!-- /.col-md-6 -->
              
                       <div class="col-md-6"> 
                        <span class="pull-right"><a   (click)="verifyAdminDirectory()" style="margin-left: 70%;     color: #5dcfe3;"><i class="ion-checkmark-round"></i> Verify</a> </span>
                    </div><!-- /.col-md-6 -->

                </div><!-- /.row -->
            </div><!-- /.box-header -->
            <div class="box-body">
            
                <div class="row"  style="margin-bottom: 5px">
                    <div class="col-md-3">  
                      <label for="name">Forest Name <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-8">
                      <input type="text"  class="form-control" id="ForestName" name="Forest_name" #ForestNname="ngModel" [(ngModel)]="model.Forest_name"  placeholder="exemple : administrator@gmail.com" required>  
                        <div *ngIf="ForestNname.errors && (ForestNname.dirty || ForestNname.touched)" class="alert alert-danger">
                    <div [hidden]="!ForestNname.errors.required">
                     Forest name is required!
                    </div></div>
                    </div>
                </div>  <!-- /fin row 1 -->

                <div class="row"  style="margin-bottom: 5px">
                    <div class="col-md-3">  
                        <label for="name">service Account <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-8">
                    <input type="text"  class="form-control" id="ServiceAccount" name="Service_account" #ServiceAccount="ngModel" [(ngModel)]="model.Service_account" placeholder="exemple : 0.0.0.0" required>  
                     <div *ngIf="ServiceAccount.errors && (ServiceAccount.dirty || ServiceAccount.touched)" class="alert alert-danger">
                    <div [hidden]="!ServiceAccount.errors.required">
                     Service Account is required!
                    </div></div>
                    </div>
                  </div><!-- /fin row 2 -->
                  
                  <div class="row"  style="margin-bottom: 5px">
                      <div class="col-md-3">  
                          <label for="name">Domaine </label>
                      </div>
                      <div class="col-md-8">
                        <input type="text"  class="form-control" id="Domaine" name="Domaine" #Domaine="ngModel" [(ngModel)]="model.Domaine"   >  
                      </div>
                  </div><!-- /fin row -->
            
                  <div class="row"  style="margin-bottom: 5px">
                    <div class="col-md-3">  
                      <label for="name">Password <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-8">
                    <input type="password"  class="form-control" id="PasswordAD" name="passwordad" #Password="ngModel" [(ngModel)]="model.passwordad"  required>  
                    <div *ngIf="Password.errors && (Password.dirty || Password.touched)" class="alert alert-danger">
                    <div [hidden]="!Password.errors.required">
                     Active directory password is required!
                    </div></div>
                    </div>
              </div><!-- /.row4 -->
            </div> <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12"  >
                      <span class="pull-right">

                        <button type="submit" class="btn btn-primary " style="margin-left: 82%" (click)="addSetting(SettingForm)" [disabled]="!SettingForm.form.valid"><i class="ion-checkmark-round"></i> Save</button>
                      </span>
                    </div>
                  </div>
            </div><!-- /.box-footer -->

        </div>   <!-- ./box -->
        </div>
</div>
        </form>
    

     
  
  
  


  </nb-card-body>
</nb-card>

  
     <div class="modal fade" id="Modal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              <h5 class="modal-title" id="exampleModalLabel">Please enter your e-mail address</h5>
            </div>
            <div class="modal-body">
              <input type="email" class="form-control" placeholder="Email" required minlength="8" name="mail" [(ngModel)]="model.mail" placeholder="user@gmail.com"   >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-primary" (click)="saveSmtp() " data-dismiss="modal">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>