<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>
    <nb-card size="xsmall">
      <ngx-script-card-front (click)="toggleFlipView()"></ngx-script-card-front>
      <i class="nb-arrow-right" (click)="toggleFlipView()"></i>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="xsmall">
      <ngx-script-card-back (click)="toggleFlipView()"></ngx-script-card-back>
      <i class="nb-arrow-right" (click)="toggleFlipView()"></i>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
