<nb-card>
  <nb-card-header>
    Update Scripts
    </nb-card-header>
  <nb-card-body>
     <form  #ScriptForm="ngForm" >
<div class="col-md-12">
          <div class="row">
            
              <div class="col-md-4">

          <div class="row">
                  <div class="col-md-2">  
                      <label for="name" > Name<span style="color: red">(*)</span></label>
                  </div>
                  <div class="col-md-10">  
                   <input type="text" class="form-control"  [(ngModel)]="model.Name" name="Name" required #Name="ngModel"/>

<div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="alert alert-danger">
        <div [hidden]="!Name.errors.required">
          Name is required!
        </div>


</div>


                  </div>
  </div>
                </div>
                <div class="col-md-8">

          <div class="row">
                    <div class="col-md-1">  
                        <label for="name" > Script<span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-11">  
                        <textarea class="form-control" aria-label="With textarea"  [(ngModel)]="model.Body"  name="Body"  required #Body="ngModel" ></textarea>
                        <div *ngIf="Body.errors && (Body.dirty || Body.touched)" class="alert alert-danger">
                        <div [hidden]="!Body.errors.required">
                          Body is required!
                        </div>

                    </div>
                    </div>            
                  </div>
                  </div>
          </div>
      <br>

          <div class="row">
          <div class="col-md-12"  >
              <button type="submit" class="btn btn-primary" style="margin-left: 77%" [disabled]="!ScriptForm.form.valid" (click)="update()">Update</button>
           
              <button type="reset" class="btn btn-default" (click)="Back()" style="background:grey!important;color: white!important;margin-left: 1%">Cancel</button>           
          </div>
          </div> <!-- /.row -->


        </div>
              </form>

 <nb-card-body>
  <style type="text/css">#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}</style>
<div id="snackbar">Script updated successfully</div>
<div id="snackbar2">Sorry something went wrong</div>