<nb-card>
  <nb-card-header>
    New User
  </nb-card-header>
  <nb-card-body>
  	    <div class="row">
          <div class="col-md-6">
           <div class="row"  style="margin-bottom: 5px">
              <div class="col-md-4">  
                  <label for="name" >FirstName</label>
              </div>
              <div class="col-md-8">
                <input type="text"  class="form-control">  
              </div>
          </div>
          </div> <!-- /.col-md-6 -->
          <div class="col-md-6">
              <div class="row"  style="margin-bottom: 5px">
                 <div class="col-md-4">  
                      <label for="name"> LastName </label>
                  </div>
                  <div class="col-md-8">
                    <input type="text"  class="form-control">  
                  </div>
              </div><!-- /.row -->
          </div><!-- /.col-md-6 -->
      </div> <!-- /.row1 -->
            <div class="row">
          <div class="col-md-6">
              <div class="row"  style="margin-bottom: 5px">
                  <div class="col-md-4">  
                      <label for="name">Login</label>
                   </div>
                  <div class="col-md-8">
                    <input type="text"  class="form-control">  
                  </div>  
              </div> <!-- /.row -->
          </div><!-- /.col-md-6 -->
          <div class="col-md-6">
              <div class="row"  style="margin-bottom: 5px">
                  <div class="col-md-4">  
                      <label for="name">Password </label>
                  </div>
                  <div class="col-md-8">
                      <input type="text"  class="form-control">  
                  </div>
              </div> <!-- /.row -->
          </div><!-- /.col-md-6 -->
      </div> <!-- /.row2 -->
      <br>

    <div class="row">
    <div class="col-md-12" >
        <button type="submit" class="btn btn-primary"  style="margin-left: 80%;">Save</button>
        <button type="submit" class="btn " (click)="Back()" style="margin-left: 1%">Cancel</button>
      
    </div>
    </div> <!-- /.row -->

  </nb-card-body>
</nb-card>
