<nb-card-header>
  <div class="header-container">
  
    <span class="title">Access panel</span>
  </div>
</nb-card-header>
<nb-card-body>
		   <div class="info">

  <a href="#" class="btn btn-success" style="margin-left: 25%;margin-bottom: 3%;border-radius:0% !important"> Active Access</a>
  <a href="#" class="btn btn-success" style="margin-left: 23%;margin-bottom: 3%;border-radius:0% !important"> Pending Access</a><br>
    
  <a href="#" class="btn btn-success" style="margin-left: 21%;border-radius:0% !important"> Deleted Access &nbsp;</a><br>
</div>
 
</nb-card-body>
