<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<nb-card>
  <nb-card-header>
    Execute Scripts : {{model.Name}}
    </nb-card-header>
  <nb-card-body>
          <h3 class="box-title"></h3>
         <div [hidden]="hiddenSCP" class="alert alert-danger" role="alert">
                     {{errooorSC}}

                   </div>
                    <div [hidden]="hiddenNull" class="alert alert-success" role="alert">
                       Success

                   </div>
      <div>
                <div class="row">
                        <div class="col-md-2"  style="text-align: center">
                            <label> Command </label>
                        </div>
                           <div class="col-md-8">                 
                               <!--  <div class="form-group" >    
                               
                                 <input  class="form-control"  id="script" name="Body" value={{model.Body}}  [(ngModel)]="model.Body" required #Body="ngModel">
                                 <div *ngIf="Body.errors && (Body.dirty || Body.touched)" class="alert alert-danger">
                                      <div [hidden]="!Body.errors.required">
                                        script body is required!
                                      </div> 
                                  </div>
                                </div> -->
                                <tag-input  
                              [(ngModel)]="model.Body"
                              [modelAsStrings]="true"
                              [dragZone]="'zone1'"
                              [editable]="true"
                              [placeholder]="''"
                              [secondaryPlaceholder]="'Add New Script'"
                               [onAdding]="onAdd"

                             >
                             <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="autocompleteItems">
                           </tag-input-dropdown>
                         </tag-input>
                            </div>
                           
                            <div class="col-md-1" style="margin-left: -1%"> 
                            <button id="BtnAdd" class="btn btn-danger"  title="Add Params" (click)="addNewRow(0)">Add parameter</button>                      
                            </div>                           
                </div>
                <form [formGroup]="invoiceForm" >
                    <div formArrayName="itemRows">
                          <!-- Check the correct way to iterate your form array -->
                        <div  *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
                        <div class="row"  *ngIf="invoiceForm.controls.itemRows.controls.length> i+1">
                        <div class="col-md-2" style="text-align: center;">
                            <label> parameter  {{ i + 1 }}</label>
                        </div>
                           <div class="col-md-8">                 
                                <div class="form-group" style="text-align: left">    
                                    <input formControlName="itemname" class="form-control"  id="script{{i}}" name="Body">                             
                                </div>
                            </div>
                           
                            <div class="col-md-1" style="text-align: right" > 
                            <h4><i id="BtnAdd{{i}}" class="fa fa-plus-square" title="Add parameter" *ngIf="invoiceForm.controls.itemRows.controls.length> i+1" (click)="addNewRow(i)"></i></h4>                       
                            </div>
                            <div class="col-md-1" style="text-align: left">
                                <h4><i id="BtnDelete{{i}}" class="fa fa-minus-square" *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)"></i></h4>      
                            </div>
                        </div>
                          </div>
                        </div>                                      
                      </form>         
      </div>
      <div >
        <br>
          <div class="row">
          <div class="col-md-12"  >
              <button type="submit" class="btn btn-primary" style="margin-left: 60%" (click)="executeScript()">Execute</button>
              <button type="reset" class="btn btn-default" style="background:grey!important;color: white!important;margin-left: 1%" (click)="back()" >Cancel</button>
             
          </div>
          </div> <!-- /.row -->
      </div>  <!-- /.box-footer --> 
 <nb-card-body>
   <style type="text/css">#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}</style>
<div id="snackbar">Script executed successfully</div>
