<nb-card-header>
  Resources Panel
</nb-card-header>
<nb-card-body>
   <div class="info">
  <a href="/pages/resources/active-resources" class="btn btn-success" style="margin-left: 25%;margin-bottom: 3%;border-radius:0% !important"> Active Resources</a>
  <a href="#" class="btn btn-success" style="margin-left: 24%;margin-bottom: 3%;border-radius:0% !important"> Pending Resources</a><br>
    
  <a href="#" class="btn btn-success" style="margin-left: 22%;border-radius:0% !important"> Archived Resources</a><br>

  </div>
</nb-card-body>
