<div class="row">
<div class="col-md-3">
<div class="example-container"  style="position: fixed;top: 100px;">
  <h2>Users List</h2>

  <div  style="overflow-y: scroll;height: 400px;max-height: 600px"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="LIST_IDS"
    class="example-list"
   >
    <div class="example-box" *ngFor="let item of todo"  cdkDrag>{{item}}</div>
  </div>
</div>
</div>
<div class="col-md-9">
<div class="example-container"  *ngFor="let group of done">
  <div>
  <h6>Group: {{group.Name}}<br><br></h6>

  <div style="overflow-y: scroll;height: 200px" 
    cdkDropList
    #doneList="cdkDropList" 
    [cdkDropListData]="done"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    
    <div class="example-box"   *ngFor="let item of group.Member" cdkDrag>{{item}}</div>
  </div></div>
</div>
</div>
</div>