<nb-card>
  <nb-card-header>
    Users
  </nb-card-header>
  <nb-card-body>
  	<style type="text/css">
  	
	</style>
  	<a href="#/pages/users/add" class="btn btn-primary " style="float: right;margin-bottom: 1%"  ><i class="fa fa-plus"></i> Add user</a>
    <ng2-smart-table class="resize" [settings]="settings" [source]="source" (custom)="onCustomAction($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>


<div >
<ng-template #contentTemplate let-data >
  <p></p>
</ng-template>

<ng-template #disabledEsc >
  do you really want to delete this user?
  <br>
  <br>
  <div style="margin-left: 70%;">
  <button class="btn btn-danger" (click)="deleteUser()">yes</button>&nbsp;
</div>
</ng-template>
</div>
  </nb-card-body>
</nb-card>
