 nb-card {
      transform: translate3d(0, 0, 0);
    }
 .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-custom{
  
   width: 50%!important;
  
    }
/* .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-custom a:nth-child(1) {
   width: 50%;
   
  }
  .nb-theme-corporate ng2-smart-table .ng2-smart-actions ng2-st-tbody-custom a:nth-child(2) {
  
      width: 50%;
     margin-left: 25%;
  }
 */