<nb-card>
  <nb-card-header>
  Scripts Power shell  
    </nb-card-header>
  <nb-card-body>
  	
  	<a href="#/pages/scripts/add-script" class="btn btn-primary " style="float: right;margin-bottom: 1%" ><i class="fa fa-plus"></i> Add Scripts</a>

    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" 
    (custom)="onCustomAction($event)" (userRowSelect)="onExecuteConfirm($event)"></ng2-smart-table>
  <!--**************************************Add***************************************-->
<ng-template #contentTemplate let-data>
  <p></p>
</ng-template>

<ng-template #disabledEsc>
  Do you really want to delete this script?
  <br>
  <br>
   <div class="row">
  <div style="margin-left: 40%;">
  <button class="btn btn-danger" (click)="deleteScript()">yes</button>&nbsp;
      <button class="btn btn-default" (click)="fade()"  style="margin-left: 1%;background:#bfbdbd;color: white">no</button>&nbsp;

</div>
</div>
</ng-template>
  </nb-card-body>
</nb-card>
