<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-4">
      <ngx-users-card></ngx-users-card>

      </div>
        <div class="col-md-4">
        <ngx-resources-card></ngx-resources-card>
      </div>
        <div class="col-md-4">
        <ngx-report-card></ngx-report-card>
      </div>
      <div class="col-md-4">
        <ngx-access-card></ngx-access-card>
      </div>
      <div class="col-md-4">
        <ngx-script-card></ngx-script-card>
      </div>
      <div class="col-md-4">
        <ngx-settings-card></ngx-settings-card>
      </div>
    </div>
  </div>

</div>
