<nb-card>
  <nb-card-header>
    New Scripts
    </nb-card-header>
  <nb-card-body>
<div class="col-md-12">
          <div class="row">
            
              <div class="col-md-4">

          <div class="row">
                  <div class="col-md-2">  
                      <label for="name" > Name </label>
                  </div>
                  <div class="col-md-10">  
                   <input type="text" class="form-control"  [(ngModel)]="model.Name" name="Name" />
                  </div>
  </div>
                </div>
                <div class="col-md-8">

          <div class="row">
                    <div class="col-md-1">  
                        <label for="name" > Script </label>
                    </div>
                    <div class="col-md-11">  
                        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="model.Body"  name="Body" ></textarea>
                    </div>
                    </div>            
                  </div>
                  </div>
          </div>
      <br>

          <div class="row">
          <div class="col-md-12"  >
              <button type="submit" class="btn btn-primary" style="margin-left: 80%" (click)="save()">Save</button>
           
              <button type="reset" class="btn btn-default" style="margin-left: 1%" (click)="Back()">Cancel</button>           
          </div>
          </div> <!-- /.row -->
 <nb-card-body>