<nb-card>
  <nb-card-header>
        Process
  </nb-card-header>
  <nb-card-body>
  <form  >
  <div class="box-header with-border">
      <h3 class="box-title">Provisioning Process</h3>
           <br>

 </div>
 <!-- /.box-header -->
 <div class="box-body"> 
      <div class="row">
      <div class="col-md-6"> 
          <div class="row"  style="margin-bottom: 5px">
              <div class="col-md-4">  
                  <label for="name">Manager's Agreement</label>
              </div> 
              <div class="col-md-8">
                  <div style="width:100%;" >
                      <label class="btn btn-default btn-off active" style="width:50%;"> 

                      <input  type="radio" hidden  [(ngModel)]="model.Manager_agreement" name="Manager_agreement" value="Manadatory" id="Manadatory_Manager" checked="true" >Manadatory</label>
                      <label class="btn btn-default btn-on " style="width:50%;" >
                      <input  type="radio" hidden [(ngModel)]="model.Manager_agreement"  name="Manager_agreement" value="Optional" id="Optional_Manager" s>Optional</label>
                  </div>
                     
              </div>
          </div> 
      </div>   <!-- /.fin col-md-6  -->
      <div class="col-md-6">
          <div class="row"  style="margin-bottom: 5px">
              <div class="col-md-4">
                  <label for="name"> Manager Name </label>
              </div>
              <div class="col-md-8">
                  <select class="form-control" id="ManagerName " name="ManagerName" #ManagerName="ngModel" [(ngModel)]="model.ManagerName"  >
                  <option value="Manager">Manager</option>
                  </select>
                      </div>
           </div>  <!-- /.row  -->
      </div> <!-- /.fin col-md-6  -->
  </div><!-- /.row1  -->
  <div class="row">
      <div class="col-md-6">
           <div class="row"  style="margin-bottom: 5px">
              <div class="col-md-4">  
                 <label for="name">Owner's Agreement</label>
              </div>
              <div class="col-md-8">
                  <div  id="status"  style="width:100%;" >
                   <label class="btn btn-default btn-off active" style="width:50%;" > 
                   <input type="radio" hidden [(ngModel)]="model.Owner_agreement" name="Owner_agreement" value="Manadatory" id="Manadatory_Owner">Manadatory</label>
                   <label class="btn btn-default btn-on " style="width:50%;">
                  <input type="radio" hidden [(ngModel)]="model.Owner_agreement" name="Owner_agreement" value="Optional" id="Optional_Owner">Optional</label>
                 </div>
             </div>
          </div>
      </div> <!-- /.fin col-md-6  -->
      <div class="col-md-6"> 
           <div class="row"  style="margin-bottom: 5px">
              <div class="col-md-4">  
              <label for="name"> Owner Name </label>
              </div>
              <div class="col-md-8">
                  <select class="form-control" id="OwnerName " name="OwnerName" #OwnerName="ngModel" [(ngModel)]="model.Owner_name"  >
                  <option value="OwnerName">OwnerName</option>
                  </select>
              </div>
          </div><!-- /.row  -->
      </div><!-- /.fin col-md-6  -->
  </div><!-- /.fin row2 -->
  <div class="row">
      <div class="col-md-6"> 
          <div class="row"  style="margin-bottom: 5px">
                  <div class="col-md-4">  
                    <label for="name">IT's  Agreement</label>
                   </div>
                   <div class="col-md-8">
                       <div style="width:100%;" >
                           <label class="btn btn-default btn-off active" style="width:50%;" > 
                           <input  type="radio" hidden [(ngModel)]="model.IT_agreement" name="IT_agreement" value="Manadatory" id="Manadatory_IT">Manadatory</label>
                        
                           <label class="btn btn-default btn-on " style="width:50%;" >
                           <input type="radio" hidden [(ngModel)]="model.IT_agreement" name="IT_agreement" value="Optional" id="Optional_IT">Optional</label>
                       </div>
                  </div>
          </div><!-- /.fin row -->
      </div><!-- /.fin col-md-6  -->
      <div class="col-md-6"> 
          <div class="row"  style="margin-bottom: 5px">
              <div class="col-md-4">  
                   <label for="name"> IT Name </label>
              </div>
              <div class="col-md-8">
                  <select cclass="form-control" id="ITOwner " name="ITOwner" #ITOwner="ngModel" [(ngModel)]="model.IT_owner" >
                  <option value="ITOwner">ITname</option>
                  </select>
              </div>
          </div><!-- /.fin row -->
      </div><!-- /.fin col-md-6  -->
  </div><!-- /.fin row3 -->
  <div class="row">
          <div class="col-md-6"> 
              <div class="row"  style="margin-bottom: 5px">
                  <div class="col-md-4">  
                       <label for="name">Processus Type</label>
                  </div>
                  <div class="col-md-8">
                      <div style="width:100%;" >
                      <label class="btn btn-default btn-off active" style="width: 50%" > 
                      <input type="radio" hidden [(ngModel)]="model.Processus_type" name="Processus_type" value="script" id="_script">By script</label>
                      <label class="btn btn-default btn-on " style="width: 50%" >
                      <input type="radio" hidden [(ngModel)]="model.Processus_type" name="Processus_type" value="process" id="_process">By process</label>
                      </div> 
                  </div>
              </div><!-- /.fin row -->
          </div><!-- /.fin col-md-6  -->
          <div class="col-md-6"> 
                  <div class="row"  style="margin-bottom: 5px">
                      <div class="col-md-4">
                          <label for="name">Process </label>
                       </div>
                      <div class="col-md-8">
                          <input  type="text"  class="form-control"   id="Process " name="Process" #Process="ngModel" [(ngModel)]="model.Process">  
                      </div>
                  </div><!-- /.fin row -->
          </div><!-- /.fin col-md-6  -->
  </div><!-- /.fin row4 -->
  <div class="row">
       <div class="col-md-6">
              <div class="row"  style="margin-bottom: 5px">
               <div class="col-md-4">
                   <label for="name">Script</label>
              </div>
               <div class="col-md-8">
               <input type="text"  class="form-control" id="Script " name="Script" #Script="ngModel" [(ngModel)]="model.Script"   >  
               </div>
              </div>
       </div><!-- /.fin col-md-6  -->
  </div><!-- /.fin row5 -->
 </div>
 <br>
 <div >
  <hr>
      <div class="row">
        <div class="col-md-12"  >
        <span style="margin-left: 90%">
        <button type="submit" class="btn btn-primary"   (click)="addProcessus(ProcessusForm)">Save</button>
         </span>
        </div>
      </div>
      <!-- /.row -->
    </div>
    </form>
<br>
                      <!--- /.Deprovisioning process -->

  <div >
      <h3 class="box-title">Deprovisioning Process</h3>
     <br>
   </div>
  <!-- /.box-header -->
  <div >
          <div class="row">
          <div class="col-md-6">
              <div class="row"  style="margin-bottom: 5px">
                      <div class="col-md-4">  
                           <label for="name">Owner's Agreement</label>
                      </div>
                      <div class="col-md-8">
                          <div  style="width: 100%" >
                          <label class="btn btn-default btn-off active" style="width: 50%" > 
                          <input  type="radio" value="0" name="multifeatured_module[module_id][status]" >Manadatory</label>
                          <label class="btn btn-default btn-on " style="width: 50%" >
                          <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked"  >Optional</label>
                          </div>
                     </div>
              </div><!-- /.fin row -->
          </div><!-- /.fin col-md-6  -->
          <div class="col-md-6">
              <div class="row"  style="margin-bottom: 5px">
                      <div class="col-md-4">  
                      <label for="name"> Owner Name </label>
                      </div>
                      <div class="col-md-8">
                      <select class="form-control" id="exampleFormControlSelect1">
                      <option value="Owner"></option>
                      </select>
                      </div>
              </div><!-- /.fin row -->
          </div><!-- /.fin col-md-6  -->
           </div><!-- /.fin row1 -->
           <div class="row">
                  <div class="col-md-6">
                      <div class="row"  style="margin-bottom: 5px">
                          <div class="col-md-4">  
                          <label for="name">IT's  Agreement</label>
                          </div>
                          <div class="col-md-8">
                                  <div  id="status" style="width: 100%" >
                                  <label class="btn btn-default btn-off active" style="width: 50%" > 
                                  <input type="radio" value="0" name="multifeatured_module[module_id][status]" >Manadatory</label>
                                  <label class="btn btn-default btn-on " style="width: 50%" >
                                  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Optional</label>
                                  </div>
                             </div>
                      </div><!-- /.fin row -->
                  </div><!-- /.fin col-md-6  -->
                  <div class="col-md-6">
                      <div class="row"  style="margin-bottom: 5px">
                          <div class="col-md-4">  
                              <label for="name"> IT Name </label>
                          </div>
                          <div class="col-md-8">
                              <select class="form-control" id="exampleFormControlSelect1">
                              <option></option>
                              </select>
                          </div>
                      </div><!-- /.fin row -->
                  </div><!-- /.fin col-md-6  -->
           </div><!-- /.fin row2 -->
          <div class="row">
              <div class="col-md-6">
                  <div class="row"  style="margin-bottom: 5px">
                       <div class="col-md-4">  
                           <label for="name">Processus Type</label>
                      </div>
                      <div class="col-md-8">
                              <div id="status" style="width: 100%" >
                              <label class="btn btn-default btn-off active" style="width: 50%" > 
                              <input type="radio" value="0" name="multifeatured_module[module_id][status]" >By script</label>
                              <label class="btn btn-default btn-on " style="width: 50%" >
                              <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked"  >By process</label>
                              </div>
                         </div>
                  </div><!-- /.fin row -->
              </div><!-- /.fin col-md-6  -->
              <div class="col-md-6">
                  <div class="row"  style="margin-bottom: 5px">
                      <div class="col-md-4">
                      <label for="name">Process </label>
                      </div>
                      <div class="col-md-8" >
                       <input type="text"  class="form-control" style="width: 100%"  >  
                      </div>
                  </div><!-- /.fin row -->
              </div><!-- /.fin col-md-6  -->
          </div><!-- /.fin row3 -->
          <div class="row">
              <div class="col-md-6">
                  <div class="row"  style="margin-bottom: 5px">
                          <div class="col-md-4">
                              <label for="name">Script</label>
                          </div>
                          <div class="col-md-8">
                              <input type="text"  class="form-control" style="width: 100%">  
                           </div> 
                  </div><!-- /.fin row -->
               </div><!-- /.fin col-md-6  -->
          </div><!-- /.fin row4 -->
  </div>
  <br><hr>
  <div >
          <div class="row">
            <div class="col-md-12"  >
            <span style="margin-left: 90%">
            <button type="submit" class="btn btn-primary">Save</button>
             </span>
            </div>
          </div>
          <!-- /.row -->
        </div>
  </nb-card-body>
</nb-card>
<style type="text/css">#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}</style>
<div id="snackbar">Process added successfully</div>
<div id="snackbar2">Sorry something went wrong</div>